---
title: API Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - bash

toc_footers:
  - <a href='#'>Sign Up for a Developer Key</a>
  - <a href='https://github.com/slatedocs/slate'>Documentation Powered by Slate</a>

search: true

code_clipboard: true

meta:
  - name: description
    content: Documentation for the REST API
---

{{template "intro"}}
{{template "auth"}}
{{template "group" .}}
{{- template "errors" -}}


{{define "group"}}
{{range $group := .}}
# {{$group.Name}}
{{range $ep := $group.EPList -}}
## {{$ep.Name}}

```shell
curl {{if ne $ep.Method.String "GET"}}-X {{$ep.Method.String}} {{end -}}
"http://example.com{{$ep.FullPath}}" {{if ne $group.Name "Domain" -}}\
  -H "Authorization: Bearer {token}" {{if ne $ep.MarshalReq "null" }}\
  --header 'Content-Type: application/json' --raw-data '{{$ep.MarshalReq}}'{{end}}
{{- end}}
```

{{if ne $ep.MarshalReq "null"}}
> The body of the request should be JSON and structured like this:

```json
{{$ep.MarshalReq}}
```
{{end -}}


{{if ne $ep.MarshalResp "null"}}
> The above command returns JSON structured like this:

```json
{{$ep.MarshalResp}}
```
{{end -}}

{{$ep.Description}}

### HTTP Request

`{{$ep.Method}} http://example.com{{$ep.FullPath}}`

{{- $qp := len $ep.QueryParams -}}
{{- $up := len $ep.URLParams -}}
{{- $jf := len $ep.JSONFields -}}

{{- if gt $jf 0 }}
{{template "json-fields" $ep}}
{{end}}

{{- if gt $qp 0 }}
{{template "query-params" $ep}}
{{end}}

{{- if gt $up 0 }}
{{template "url-params" $ep}}
{{end}}

{{end}}
{{end}}
{{end}}


{{define "json-fields"}}
### JSON Fields for Request Body

| Field Name   | Required | Description                                                          |
| ------------ | -------- | -------------------------------------------------------------------- |
{{range .JSONFields}}| {{.Name}} | {{- if eq .Required ""}}false{{else}}{{.Required}}{{end}} | {{.Description}} |
{{end}}

{{end}}

{{define "query-params"}}
### Query Parameters

| Parameter    | Required | Description                                                          |
| ------------ | -------- | -------------------------------------------------------------------- |
{{range .QueryParams}}| {{.Name}} | {{- if eq .Required ""}}false{{else}}{{.Required}}{{end}} | {{.Description}} |
{{end}}

{{end}}

{{define "url-params"}}
### URL Parameters

| Parameter    | Description                                                                      |
| ------------ | -------------------------------------------------------------------------------- |
{{range .URLParams}}| {{.Name}} |  {{.Description}} |
{{end}}

{{end}}

{{define "errors"}}
# Errors

This API uses the following error codes:

Error Code | Meaning
---------- | -------
400 | Bad Request -- Your request is invalid.
401 | Unauthorized -- Your API key is wrong.
403 | Forbidden -- Unauthorized
404 | Not Found -- The specified kittn could not be found.
405 | Method Not Allowed -- You tried to access an endpoint with an invalid method.
406 | Not Acceptable -- You requested a format that isn't json.
410 | Gone -- The resource requested has been removed from our servers.
418 | I'm a teapot.
429 | Too Many Requests -- Rate limits applied ! Slow down!
500 | Internal Server Error -- We had a problem with our server. Try again later.
503 | Service Unavailable -- We're temporarily offline for maintenance. Please try again later.
{{end}}

{{define "intro"}}
# Introduction

Welcome to the Kittn API! You can use our API to access Kittn API endpoints, which can get information on various cats, kittns, and breeds in our database.

We have language bindings in Shell. You can view code examples in the dark area to the right.

This example API documentation page was created with [Slate](https://github.com/slatedocs/slate). Feel free to edit it and use it as a base for your own API's documentation.
{{end}}

{{define "auth"}}
# Authentication

> To authorize, use this code:

```shell
# With bash, you can just pass the correct header with each request
curl "api_endpoint_here" \
  -H "Authorization: meowmeowmeow"
```

> Make sure to replace `meowmeowmeow` with your API key.

Kittn uses API keys to allow access to the API. You can register a new Kittn API key at our [developer portal](http://example.com/developers).

Kittn expects for the API key to be included in all API requests to the server in a header that looks like the following:

`Authorization: meowmeowmeow`

<aside class="notice">
You must replace <code>meowmeowmeow</code> with your personal API key.
</aside>
{{end}}